body {
    background-color: rgba(255, 255, 255, 0.76);
}
h1 {
    font-family: 'Times New Roman', Times, serif; scroll-margin-block-start:; 
    color:rgb(0, 0, 0);
    }
p {
    text-align: center;
    color:rgb(0, 0, 0);
}
h1 {
    text-align: center;
}